# **Importing the libraries**

In [4]:
import pandas as pd
import numpy as np

# **Loading the data**

In [5]:
df = pd.read_csv("Data.csv")

# **Feature Engineering**

In [6]:
df.head(5)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.1,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.2,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.3,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.4,Australia,Sri Lanka,M Klinger,AJ Finch,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.5,Australia,Sri Lanka,M Klinger,AJ Finch,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.tail(5)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
221728,995469,2016,2016-09-09,R Premadasa Stadium,2,17.1,Australia,Sri Lanka,TM Head,PM Nevill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221729,995469,2016,2016-09-09,R Premadasa Stadium,2,17.2,Australia,Sri Lanka,PM Nevill,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221730,995469,2016,2016-09-09,R Premadasa Stadium,2,17.3,Australia,Sri Lanka,TM Head,PM Nevill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221731,995469,2016,2016-09-09,R Premadasa Stadium,2,17.4,Australia,Sri Lanka,TM Head,PM Nevill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221732,995469,2016,2016-09-09,R Premadasa Stadium,2,17.5,Australia,Sri Lanka,TM Head,PM Nevill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Subsetting only consistent teams**

In [8]:
df['batting_team'].unique()

array(['Australia', 'Sri Lanka', 'Hong Kong', 'Ireland', 'Zimbabwe',
       'India', 'Bangladesh', 'New Zealand', 'South Africa', 'England',
       'West Indies', 'Afghanistan', 'Pakistan', 'United Arab Emirates',
       'Scotland', 'Oman', 'Netherlands', 'Papua New Guinea',
       'ICC World XI', 'Nepal', 'Philippines', 'Vanuatu',
       'United States of America', 'Germany', 'Italy', 'Ghana', 'Namibia',
       'Uganda', 'Botswana', 'Kenya', 'Nigeria', 'Guernsey', 'Denmark',
       'Norway', 'Jersey', 'Thailand', 'Malaysia', 'Maldives',
       'Singapore', 'Qatar', 'Kuwait', 'Bermuda', 'Canada',
       'Cayman Islands', 'Portugal', 'Spain', 'Gibraltar', 'Bhutan',
       'Saudi Arabia', 'Bahrain', 'Iran', 'Belgium', 'Luxembourg',
       'Czech Republic', 'Isle of Man', 'Bulgaria', 'Romania'],
      dtype=object)

In [9]:
consistent_teams=['England','Australia','West Indies','India','Bangladesh','New Zealand','Pakistan','South Africa','Sri Lanka']

In [10]:
df['batting_team'].isin(consistent_teams)

0         True
1         True
2         True
3         True
4         True
          ...
221728    True
221729    True
221730    True
221731    True
221732    True
Name: batting_team, Length: 221733, dtype: bool

In [11]:
df[df['batting_team'].isin(consistent_teams)]

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.1,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.2,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.3,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.4,Australia,Sri Lanka,M Klinger,AJ Finch,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.5,Australia,Sri Lanka,M Klinger,AJ Finch,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221728,995469,2016,2016-09-09,R Premadasa Stadium,2,17.1,Australia,Sri Lanka,TM Head,PM Nevill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221729,995469,2016,2016-09-09,R Premadasa Stadium,2,17.2,Australia,Sri Lanka,PM Nevill,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221730,995469,2016,2016-09-09,R Premadasa Stadium,2,17.3,Australia,Sri Lanka,TM Head,PM Nevill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221731,995469,2016,2016-09-09,R Premadasa Stadium,2,17.4,Australia,Sri Lanka,TM Head,PM Nevill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221732,995469,2016,2016-09-09,R Premadasa Stadium,2,17.5,Australia,Sri Lanka,TM Head,PM Nevill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df=df[df['batting_team'].isin(consistent_teams)]

In [13]:
df=df[df['bowling_team'].isin(consistent_teams)]

In [14]:
df['batting_team'].unique()

array(['Australia', 'Sri Lanka', 'Bangladesh', 'New Zealand',
       'South Africa', 'England', 'West Indies', 'India', 'Pakistan'],
      dtype=object)

In [15]:
df['bowling_team'].unique()

array(['Sri Lanka', 'Australia', 'New Zealand', 'Bangladesh',
       'South Africa', 'England', 'West Indies', 'India', 'Pakistan'],
      dtype=object)

In [16]:
df.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [17]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.1,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Subsetting the data with required features**

In [18]:
df.sort_values(['match_id', 'innings'], ascending=[True, True])

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
101048,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101049,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,GO Jones,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101050,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,ME Trescothick,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101051,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,ME Trescothick,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101052,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,ME Trescothick,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101043,1237124,2020/21,2020-12-01,Newlands,2,17.1,England,South Africa,JC Buttler,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101044,1237124,2020/21,2020-12-01,Newlands,2,17.2,England,South Africa,DJ Malan,JC Buttler,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101045,1237124,2020/21,2020-12-01,Newlands,2,17.3,England,South Africa,DJ Malan,JC Buttler,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101046,1237124,2020/21,2020-12-01,Newlands,2,17.4,England,South Africa,DJ Malan,JC Buttler,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101047,1237124,2020/21,2020-12-01,Newlands,2,17.5,England,South Africa,DJ Malan,JC Buttler,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df=df.sort_values(['match_id', 'innings'], ascending=[True, True])

In [20]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
101048,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df['overs']=df['ball']

In [22]:
# make string version of original column
df['ball'] = df['ball'].astype(str)

In [23]:
df['ball'].str[0:-1]

101048     0.
101049     0.
101050     0.
101051     0.
101052     0.
         ...
101043    17.
101044    17.
101045    17.
101046    17.
101047    17.
Name: ball, Length: 119582, dtype: object

In [24]:
df['over']=df['ball'].str[0:-1]

In [25]:
df['over'].str.replace('.', '')

101048     0
101049     0
101050     0
101051     0
101052     0
          ..
101043    17
101044    17
101045    17
101046    17
101047    17
Name: over, Length: 119582, dtype: object

In [26]:
df['over']=df['over'].str.replace('.', '')

In [27]:
df['ball'].str[-1:]

101048    1
101049    2
101050    3
101051    4
101052    5
         ..
101043    1
101044    2
101045    3
101046    4
101047    5
Name: ball, Length: 119582, dtype: object

In [28]:
df['ball']=df['ball'].str[-1:]

In [29]:
df.head(5)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,overs,over
101048,211028,2005,2005-06-13,The Rose Bowl,1,1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,0
101049,211028,2005,2005-06-13,The Rose Bowl,1,2,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2,0
101050,211028,2005,2005-06-13,The Rose Bowl,1,3,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,0
101051,211028,2005,2005-06-13,The Rose Bowl,1,4,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,0
101052,211028,2005,2005-06-13,The Rose Bowl,1,5,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0

In [30]:
df['total_runs']=df['runs_off_bat']+df['extras']

In [31]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,overs,over,total_runs
101048,211028,2005,2005-06-13,The Rose Bowl,1,1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,0,0

In [32]:
df=df[['match_id','innings','batting_team','bowling_team','overs','over','ball','total_runs','player_dismissed']]

In [33]:
df=df.rename(columns={"match_id": "id"})

In [34]:
df

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed
101048,211028,1,England,Australia,0.1,0,1,0,NaN
101049,211028,1,England,Australia,0.2,0,2,1,NaN
101050,211028,1,England,Australia,0.3,0,3,0,NaN
101051,211028,1,England,Australia,0.4,0,4,0,NaN
101052,211028,1,England,Australia,0.5,0,5,0,NaN
...,...,...,...,...,...,...,...,...,...
101043,1237124,2,England,South Africa,17.1,17,1,1,NaN
101044,1237124,2,England,South Africa,17.2,17,2,6,NaN
101045,1237124,2,England,South Africa,17.3,17,3,1,NaN
101046,1237124,2,England,South Africa,17.4,17,4,4,NaN
101047,1237124,2,England,South Africa,17.5,17,5,1,NaN

In [35]:
df = df.replace(np.nan, 0)

In [36]:
df

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed
101048,211028,1,England,Australia,0.1,0,1,0,0
101049,211028,1,England,Australia,0.2,0,2,1,0
101050,211028,1,England,Australia,0.3,0,3,0,0
101051,211028,1,England,Australia,0.4,0,4,0,0
101052,211028,1,England,Australia,0.5,0,5,0,0
...,...,...,...,...,...,...,...,...,...
101043,1237124,2,England,South Africa,17.1,17,1,1,0
101044,1237124,2,England,South Africa,17.2,17,2,6,0
101045,1237124,2,England,South Africa,17.3,17,3,1,0
101046,1237124,2,England,South Africa,17.4,17,4,4,0
101047,1237124,2,England,South Africa,17.5,17,5,1,0

# **Total runs scored in the innings**

In [37]:
df.groupby(['id','innings'])['total_runs'].transform('sum')

101048    179
101049    179
101050    179
101051    179
101052    179
         ...
101043    192
101044    192
101045    192
101046    192
101047    192
Name: total_runs, Length: 119582, dtype: int64

In [38]:
df['total']=df.groupby(['id','innings'])['total_runs'].transform('sum')

In [39]:
df

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total
101048,211028,1,England,Australia,0.1,0,1,0,0,179
101049,211028,1,England,Australia,0.2,0,2,1,0,179
101050,211028,1,England,Australia,0.3,0,3,0,0,179
101051,211028,1,England,Australia,0.4,0,4,0,0,179
101052,211028,1,England,Australia,0.5,0,5,0,0,179
...,...,...,...,...,...,...,...,...,...,...
101043,1237124,2,England,South Africa,17.1,17,1,1,0,192
101044,1237124,2,England,South Africa,17.2,17,2,6,0,192
101045,1237124,2,England,South Africa,17.3,17,3,1,0,192
101046,1237124,2,England,South Africa,17.4,17,4,4,0,192
101047,1237124,2,England,South Africa,17.5,17,5,1,0,192

# **Runs scored till the current ball**

In [40]:
df.groupby(['id', 'innings'])['total_runs'].cumsum()

101048      0
101049      1
101050      1
101051      1
101052      1
         ...
101043    180
101044    186
101045    187
101046    191
101047    192
Name: total_runs, Length: 119582, dtype: int64

In [41]:
df['total_score']=df.groupby(['id', 'innings'])['total_runs'].cumsum()

In [42]:
df.head(10)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score
101048,211028,1,England,Australia,0.1,0,1,0,0,179,0
101049,211028,1,England,Australia,0.2,0,2,1,0,179,1
101050,211028,1,England,Australia,0.3,0,3,0,0,179,1
101051,211028,1,England,Australia,0.4,0,4,0,0,179,1
101052,211028,1,England,Australia,0.5,0,5,0,0,179,1
101053,211028,1,England,Australia,0.6,0,6,1,0,179,2
101054,211028,1,England,Australia,0.7,0,7,2,0,179,4
101055,211028,1,England,Australia,1.1,1,1,0,0,179,4
101056,211028,1,England,Australia,1.2,1,2,0,0,179,4
101057,211028,1,England,Australia,1.3,1,3,1,0,179,5

# **Runs scored in previous 30 balls**

In [43]:
df.groupby(['id','innings'])['total_runs'].rolling(min_periods=1, window=30).sum().reset_index()

             id  innings  level_2  total_runs
0        211028        1   101048         0.0
1        211028        1   101049         1.0
2        211028        1   101050         1.0
3        211028        1   101051         1.0
4        211028        1   101052         1.0
...         ...      ...      ...         ...
119577  1237124        2   101043        52.0
119578  1237124        2   101044        58.0
119579  1237124        2   101045        58.0
119580  1237124        2   101046        61.0
119581  1237124        2   101047        62.0

[119582 rows x 4 columns]

In [44]:
tmp=df.groupby(['id','innings'])['total_runs'].rolling(min_periods=1, window=30).sum().reset_index()

In [45]:
tmp[['total_runs']]

        total_runs
0              0.0
1              1.0
2              1.0
3              1.0
4              1.0
...            ...
119577        52.0
119578        58.0
119579        58.0
119580        61.0
119581        62.0

[119582 rows x 1 columns]

In [46]:
df['prev_30_runs']=tmp['total_runs'].to_list()

In [47]:
df.head(10)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs
101048,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0
101049,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0
101050,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0
101051,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0
101052,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0
101053,211028,1,England,Australia,0.6,0,6,1,0,179,2,2.0
101054,211028,1,England,Australia,0.7,0,7,2,0,179,4,4.0
101055,211028,1,England,Australia,1.1,1,1,0,0,179,4,4.0
101056,211028,1,England,Australia,1.2,1,2,0,0,179,4,4.0
101057,211028,1,England,Australia,1.3,1,3,1,0,179,5,5.0

# **Wickets fallen in previous 30 balls**

In [48]:
df['player_dismissed'].unique()

array([0, 'GO Jones', 'A Flintoff', 'KP Pietersen', 'MP Vaughan',
       'ME Trescothick', 'AJ Strauss', 'VS Solanki', 'PD Collingwood',
       'AC Gilchrist', 'ML Hayden', 'MJ Clarke', 'A Symonds',
       'MEK Hussey', 'RT Ponting', 'DR Martyn', 'JN Gillespie', 'B Lee',
       'GD McGrath', 'SM Katich', 'SP Fleming', 'MS Sinclair',
       'BB McCullum', 'CD McMillan', 'CL Cairns', 'HJH Marshall',
       'AR Adams', 'SB Styris', 'JW Wilson', 'KD Mills', 'GC Smith',
       'JH Kallis', 'HH Gibbs', 'JM Kemp', 'SM Pollock', 'MV Boucher',
       'AG Prince', 'CK Langeveldt', 'JA Morkel', 'M Ntini', 'NJ Astle',
       'IR Bell', 'JWM Dalrymple', 'CMW Read', 'Shoaib Malik',
       'Younis Khan', 'Shahid Afridi', 'Mohammad Yousuf',
       'Mohammad Hafeez', 'WU Tharanga', 'DPMD Jayawardene',
       'ST Jayasuriya', 'TM Dilshan', 'RP Arnold', 'KC Sangakkara',
       'MF Maharoof', 'CK Kapugedera', 'SL Malinga', 'CRD Fernando',
       'JR Hopes', 'HH Dippenaar', 'AJ Hall', 'J Botha', 'GJP Kruger',
       'M Zondeki', 'CH Gayle', 'RS Morton', 'DR Smith', 'D Ganga',
       'WW Hinds', 'S Chanderpaul', 'D Ramdin', 'L Vincent', 'PG Fulton',
       'LE Bosman', 'JJ van der Wath', 'SR Watson', 'GB Hogg', 'EC Joyce',
       'J Lewis', 'MS Panesar', 'JEC Franklin', 'LRPL Taylor',
       'JAH Marshall', 'PD McGlashan', 'SE Bond', 'MS Atapattu',
       'HMCM Bandara', 'LPC Silva', 'AB de Villiers', 'RJ Peterson',
       'T Henderson', 'SR Tendulkar', 'V Sehwag', 'MS Dhoni', 'D Mongia',
       'DS Smith', 'DJ Bravo', 'MN Samuels', 'DJG Sammy', 'AN Cook',
       'MJ Prior', 'IJL Trott', 'OA Shah', 'AD Mascarenhas',
       'LMP Simmons', 'ACL Richards', 'RR Sarwan', 'Nazimuddin',
       'Tamim Iqbal', 'Mohammad Ashraful', 'Shakib Al Hasan', 'LJ Wright',
       'DL Maddy', 'CP Schofield', 'SCJ Broad', 'G Gambhir',
       'Yuvraj Singh', 'KD Karthik', 'RV Uthappa', 'IK Pathan',
       'Harbhajan Singh', 'AB Agarkar', 'Imran Nazir', 'Salman Butt',
       'Kamran Akmal', 'Misbah-ul-Haq', 'DL Vettori', 'Aftab Ahmed',
       'Mashrafe Mortaza', 'Alok Kapali', 'Farhad Reza',
       'Mushfiqur Rahim', 'Syed Rasel', 'JP Duminy', 'JDP Oram',
       'JS Patel', 'VD Philander', 'JN Snape', 'J Mubarak', 'G Wijekoon',
       'MR Gillespie', 'BJ Hodge', 'Nadif Chowdhury', 'Mahmudullah',
       'Abdur Razzak', 'NL McCullum', 'WPUJC Vaas', 'Junaid Siddique',
       'YK Pathan', 'Yasir Arafat', 'Sohail Tanvir', 'Umar Gul',
       'AC Voges', 'LA Pomersbach', 'AA Noffke', 'JM How', 'RG Sharma',
       'P Kumar', 'S Sreesanth', 'DR Flynn', 'MJ Mason', 'GJ Hopkins',
       'RN Lewis', 'JL Ontong', 'P Mustard', 'JD Ryder', 'TG Southee',
       'PA Hitchcock', 'MN van Wyk', 'GH Bodi', 'BA Parchment',
       'L Ronchi', 'SE Marsh', 'DJ Hussey', 'XM Marshall', 'WKD Perkins',
       'Dhiman Ghosh', 'Shahadat Hossain', 'DA Warner', 'CL White',
       'JL Denly', 'RS Bopara', 'Raqibul Hasan', 'Naeem Islam',
       'BJ Haddin', 'MG Johnson', 'HM Amla', 'VB van Jaarsveld',
       'RE van der Merwe', 'CJ Ferguson', 'NW Bracken', 'DW Steyn',
       'LL Tsotsobe', 'MC Henriques', 'MJ Guptill', 'NT Broom',
       'SM Davies', 'GJ Batty', 'A Khan', 'ADS Fletcher', 'SK Raina',
       'Ahmed Shehzad', 'NM Hauritz', 'JS Foster', 'GP Swann',
       'JM Anderson', 'KMDN Kulasekara', 'Fawad Alam', 'Mohammad Amir',
       'KA Pollard', 'JE Taylor', 'AJ Redmond', 'Abdul Razzaq',
       'Shahzaib Hasan', 'RA Jadeja', 'Z Khan', 'SJ Benn', 'I Udana',
       'ML Udawatte', 'SHT Kandamby', 'T Thushara', 'Shoaib Khan jnr',
       'K Weeraratne', 'CS Baugh', 'SE Findlay', 'FH Edwards',
       'EJG Morgan', 'TT Bresnan', 'AU Rashid', 'MJ North',
       'BW Hilfenhaus', 'Mehrab Hossain jnr', 'DM Richards', 'FL Reifer',
       'Umar Akmal', 'AD Mathews', 'M Muralitharan', 'RJMGM Rupasinghe',
       'TR Birt', 'SPD Smith', 'N Deonarine', 'TM Dowlin', 'DP Nannes',
       'SW Tait', 'Imran Farhat', 'Khalid Latif', 'Naved-ul-Hasan',
       'LD Chandimal', 'Imrul Kayes', 'M Vijay', 'Saeed Ajmal', 'MJ Lumb',
       'C Kieswetter', 'Shafiul Islam', 'Jahurul Islam', 'A Nehra',
       'Abdur Rehman', 'M Morkel', 'S Randiv', 'BAW Mendis', 'MH Yardy',
       'PJ Ingram', 'DR Tuffey', 'TD Paine', 'Shoaib Akhtar',
       "SNJ O'Keefe", 'BJ Watling', 'IG Butler', 'AB Dinda',
       'CU Jayasinghe', 'AN Petersen', 'NO Miller', 'Sarfraz Ahmed',
       'JW Hastings', 'DA Miller', 'RJ Nicol', 'NLTC Perera', 'AJ McKay',
       'Zulqarnain Haider', 'CA Ingram', 'V Kohli', 'WD Parnell',
       'DG Brownlie', 'Asad Shafiq', 'Wahab Riaz', 'SR Patel',
       'CR Woakes', 'PA Patel', 'R Dravid', 'AM Rahane', 'R Ashwin',
       'MM Patel', 'AD Hales', 'DM Bravo', 'DP Hyatt', 'AD Russell',
       'Mohammad Salman', 'S Dhawan', 'S Badrinath', 'MS Wade',
       'MR Marsh', 'HG Kuhn', 'BMAJ Mendis', 'MDK Perera', 'AJ Finch',
       'GJ Bailey', 'CJ McKay', 'XJ Doherty', 'RE Levi', 'KS Williamson',
       'C de Grandhomme', 'DAJ Bracewell', 'MK Tiwary', 'J Charles',
       'NE Bonner', 'CD Barnwell', 'DO Christian', 'D Bishoo',
       'MC Bascombe', 'JM Bairstow', 'BA Stokes', 'JC Buttler',
       'SG Borthwick', 'JW Dernbach', 'Awais Zia', 'Hammad Azam',
       'AB Barath', 'CR Brathwaite', 'Nasir Hossain', 'Elias Sunny',
       'F du Plessis', 'EMDY Munaweera', 'Nasir Jamshed',
       'HDRL Thirimanne', 'F Behardien', 'SP Narine', 'S Badree',
       'GJ Maxwell', 'PJ Cummins', 'MA Starc', 'DT Christian',
       'TWM Latham', 'AM Ellis', 'KS Lokuarachchi', 'Shakeel Ansar',
       'SMSM Senanayake', 'RMS Eranga', 'PP Chawla', 'HD Rutherford',
       'JP Faulkner', 'NM Coulter-Nile', 'CJ Anderson', 'JDS Neesham',
       'C Munro', 'RM Hira', 'MJ McClenaghan', 'H Davids', 'Q de Kock',
       'CH Morris', 'RK Kleinveldt', 'KJ Abbott', 'TA Boult',
       'GD Elliott', 'JC Tredwell', 'MDKJ Perera', 'BJ Rohrer',
       'BCJ Cutting', 'Anamul Haque', 'I Sharma', 'Shamsur Rahman',
       'Sohag Gazi', 'JE Root', 'MM Ali', 'Umar Amin', 'Haris Sohail',
       'NJ Maddinson', 'Sohaib Maqsood', 'Sharjeel Khan',
       'Bilawal Bhatti', 'S Prasanna', 'KOA Powell', 'CAK Walton',
       'JJ Roy', 'KDK Vithanage', 'MA Carberry', 'CJ Jordan',
       'AP Devcich', 'Ziaur Rahman', 'Mominul Haque', 'Sabbir Rahman',
       'JM Muirhead', 'Mohammad Mithun', 'Arafat Sunny', 'AK Perera',
       'RR Hendricks', 'RR Rossouw', 'D Wiese', 'Anwar Ali', 'Saad Nasim',
       'PJ Hughes', 'AR Nurse', 'SS Cottrell', 'SW Billings', 'DJ Willey',
       'MJ Santner', 'BR Dunk', 'NJ Reardon', 'R McLaren', 'SA Abbott',
       'Soumya Sarkar', 'Liton Das', 'Mustafizur Rahman', 'Rony Talukdar',
       'GH Worker', 'AM Phangiso', 'Mukhtar Ahmed', 'DM de Silva',
       'TAM Siriwardana', 'GSNFG Jayasuriya', 'MD Shanaka',
       'Mohammad Rizwan', 'UT Khawaja', 'PM Nevill', 'TM Head', 'CA Lynn',
       'KW Richardson', 'CJ Boyce', 'AJ Tye', 'JM Vince',
       'Rafatullah Mohmand', 'Imran Khan (1)', 'LE Plunkett', 'AT Rayudu',
       'AR Patel', 'B Kumar', 'MD Gunathilaka', 'BKG Mendis',
       'RLB Rambukwella', 'N Pradeep', 'Imad Wasim', 'TD Astle',
       'MJ Henry', 'JO Holder', 'JT Smuts', 'TB de Bruyn', 'M Mosehle',
       'N Dickwella', 'ST de Silva', 'AL Phehlukwayo', 'Imran Tahir',
       'DAS Gunaratne', 'HH Pandya', 'AC Agar', 'HMRKB Herath',
       'Shuvagata Hom', 'HM Nicholls', 'Al-Amin Hossain', 'JDF Vandersay',
       'RAS Lakmal', 'JJ Bumrah', 'PVD Chameera', 'Khurram Manzoor',
       'Mohammad Sami', 'Nurul Hasan', 'SS Pathirana', 'M Klinger',
       'AJ Turner', 'JA Richardson', 'JRMVB Sanjaya', 'Mosaddek Hossain',
       'TC Bruce', 'Rubel Hossain', 'GD Phillips', 'BM Wheeler',
       'LS Livingstone', 'DJ Malan', 'E Lewis', 'R Powell', 'KL Rahul',
       'MK Pandey', 'Parvez Rasool', 'A Mishra', 'TS Mills', 'N Pooran',
       'Babar Azam', 'TA Blundell', 'IS Sodhi', 'DJM Short', 'TK Curran',
       'MP Stoinis', 'MS Chapman', 'TL Seifert', 'LA Dawson',
       'Mehedi Hasan Miraz', 'Taskin Ahmed', 'Mohammad Saifuddin',
       'Fakhar Zaman', 'Shadab Khan', 'JN Mohammed', 'RR Pant',
       'KM Jadhav', 'AK Kitchen', 'SD Hope', 'KOK Williams', 'SO Hetmyer',
       'RR Emrit', 'Mohammad Nawaz (3)', 'Faheem Ashraf', 'Hasan Ali',
       'SHA Rance', 'Kuldeep Yadav', 'AT Carey', 'B Stanlake', 'SS Iyer',
       'S Samarawickrama', 'SMA Priyanjan', 'PC de Silva', 'H Klaasen',
       'D Paterson', 'C Jonker', 'A Dananjaya', 'MVT Fernando',
       'Zakir Hasan', 'Afif Hossain', 'Ariful Haque', 'Mahedi Hasan',
       'Abu Jayed', 'V Shankar', 'Hussain Talat', 'Asif Ali', 'KMA Paul',
       'OF Smith', 'AM McCarthy', 'PHKD Mendis', 'MA Aponso', 'K Rabada',
       'L Ngidi', 'T Shamsi', 'Sahibzada Farhan', 'GL Cloete',
       'HE van der Dussen', 'JN Malan', 'BE Hendricks', 'CJ Dala',
       'L Sipamla', 'WIA Fernando', 'AK Markram', 'BR McDermott',
       'KH Pandya', 'Nazmul Islam', 'Imam-ul-Haq', 'BM Duckett',
       'FA Allen', 'O Thomas', 'SE Rutherford', 'DJ Mitchell',
       'YS Chahal', 'CBRLS Kumara', 'CAK Rajitha', 'A Zampa',
       'LH Ferguson', 'K Pierre', 'JD Campbell', 'OC McCoy', 'UT Yadav',
       'PSP Handscomb', 'PBB Rajapaksa', 'BOP Fernando', 'PWH de Silva',
       'PADLR Sandakan', 'Khushdil Shah', 'Iftikhar Ahmed', 'T Bavuma',
       'D Pretorius', 'BC Fortuin', 'PJ van Biljon', 'A Nortje',
       'Washington Sundar', 'S Dube', 'Mohammad Naim',
       'Aminul Islam Biplob', 'BA King', 'HR Walsh', 'SM Curran',
       'L Gregory', 'S Mahmood', 'T Banton', 'SV Samson', 'SN Thakur',
       'SC Kuggeleijn', 'LD Madushanka', 'Haider Ali', 'M Bhanuka',
       'Mohammad Hasnain', 'Ahsan Ali', 'DP Conway', 'KR Mayers',
       'Abdullah Shafique', 'GF Linde'], dtype=object)

In [49]:
df['player_dismissed']=np.where(df['player_dismissed']==0, 0, 1)

In [50]:
tmp=df.groupby(['id','innings'])['player_dismissed'].rolling(min_periods=1, window=30).sum().reset_index()

df['prev_30_wickets']=tmp['player_dismissed'].to_list()

In [51]:
df.head(60)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets
101048,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0,0.0
101049,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0,0.0
101050,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0,0.0
101051,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0,0.0
101052,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0,0.0
101053,211028,1,England,Australia,0.6,0,6,1,0,179,2,2.0,0.0
101054,211028,1,England,Australia,0.7,0,7,2,0,179,4,4.0,0.0
101055,211028,1,England,Australia,1.1,1,1,0,0,179,4,4.0,0.0
101056,211028,1,England,Australia,1.2,1,2,0,0,179,4,4.0,0.0
101057,211028,1,England,Australia,1.3,1,3,1,0,179,5,5.0,0.0
101058,211028,1,England,Australia,1.4,1,4,0,0,179,5,5.0,0.0
101059,211028,1,England,Australia,1.5,1,5,0,0,179,5,5.0,0.0
101060,211028,1,England,Australia,1.6,1,6,0,0,179,5,5.0,0.0
101061,211028,1,England,Australia,1.7,1,7,1,0,179,6,6.0,0.0
101062,211028,1,England,Australia,2.1,2,1,4,0,179,10,10.0,0.0
101063,211028,1,England,Australia,2.2,2,2,1,0,179,11,11.0,0.0
101064,211028,1,England,Australia,2.3,2,3,0,0,179,11,11.0,0.0
101065,211028,1,England,Australia,2.4,2,4,4,0,179,15,15.0,0.0
101066,211028,1,England,Australia,2.5,2,5,4,0,179,19,19.0,0.0
101067,211028,1,England,Australia,2.6,2,6,1,0,179,20,20.0,0.0
101068,211028,1,England,Australia,3.1,3,1,0,0,179,20,20.0,0.0
101069,211028,1,England,Australia,3.2,3,2,4,0,179,24,24.0,0.0
101070,211028,1,England,Australia,3.3,3,3,4,0,179,28,28.0,0.0
101071,211028,1,England,Australia,3.4,3,4,0,0,179,28,28.0,0.0
101072,211028,1,England,Australia,3.5,3,5,0,1,179,28,28.0,1.0
101073,211028,1,England,Australia,3.6,3,6,1,0,179,29,29.0,1.0
101074,211028,1,England,Australia,4.1,4,1,1,0,179,30,30.0,1.0
101075,211028,1,England,Australia,4.2,4,2,2,0,179,32,32.0,1.0
101076,211028,1,England,Australia,4.3,4,3,4,0,179,36,36.0,1.0
101077,211028,1,England,Australia,4.4,4,4,1,0,179,37,37.0,1.0
101078,211028,1,England,Australia,4.5,4,5,1,0,179,38,38.0,1.0
101079,211028,1,England,Australia,4.6,4,6,1,0,179,39,38.0,1.0
101080,211028,1,England,Australia,4.7,4,7,1,0,179,40,39.0,1.0
101081,211028,1,England,Australia,4.8,4,8,3,0,179,43,42.0,1.0
101082,211028,1,England,Australia,5.1,5,1,1,0,179,44,43.0,1.0
101083,211028,1,England,Australia,5.2,5,2,0,0,179,44,42.0,1.0
101084,211028,1,England,Australia,5.3,5,3,4,0,179,48,44.0,1.0
101085,211028,1,England,Australia,5.4,5,4,1,0,179,49,45.0,1.0
101086,211028,1,England,Australia,5.5,5,5,0,1,179,49,45.0,2.0
101087,211028,1,England,Australia,5.6,5,6,1,0,179,50,45.0,2.0
101088,211028,1,England,Australia,6.1,6,1,1,0,179,51,46.0,2.0
101089,211028,1,England,Australia,6.2,6,2,0,0,179,51,46.0,2.0
101090,211028,1,England,Australia,6.3,6,3,1,0,179,52,47.0,2.0
101091,211028,1,England,Australia,6.4,6,4,0,0,179,52,46.0,2.0
101092,211028,1,England,Australia,6.5,6,5,4,0,179,56,46.0,2.0
101093,211028,1,England,Australia,6.6,6,6,2,0,179,58,47.0,2.0
101094,211028,1,England,Australia,7.1,7,1,1,0,179,59,48.0,2.0
101095,211028,1,England,Australia,7.2,7,2,4,0,179,63,48.0,2.0
101096,211028,1,England,Australia,7.3,7,3,2,0,179,65,46.0,2.0
101097,211028,1,England,Australia,7.4,7,4,1,0,179,66,46.0,2.0
101098,211028,1,England,Australia,7.5,7,5,1,0,179,67,47.0,2.0
101099,211028,1,England,Australia,7.6,7,6,1,0,179,68,44.0,2.0
101100,211028,1,England,Australia,8.1,8,1,1,0,179,69,41.0,2.0
101101,211028,1,England,Australia,8.2,8,2,1,0,179,70,42.0,2.0
101102,211028,1,England,Australia,8.3,8,3,1,0,179,71,43.0,1.0
101103,211028,1,England,Australia,8.4,8,4,4,0,179,75,46.0,1.0
101104,211028,1,England,Australia,8.5,8,5,1,0,179,76,46.0,1.0
101105,211028,1,England,Australia,8.6,8,6,6,0,179,82,50.0,1.0
101106,211028,1,England,Australia,9.1,9,1,1,0,179,83,47.0,1.0
101107,211028,1,England,Australia,9.2,9,2,2,0,179,85,48.0,1.0

# **Wickets fallen till the current ball**

In [52]:
df.groupby(['id', 'innings'])['player_dismissed'].cumsum()

101048    0
101049    0
101050    0
101051    0
101052    0
         ..
101043    1
101044    1
101045    1
101046    1
101047    1
Name: player_dismissed, Length: 119582, dtype: int64

In [53]:
df['total_wickets']=df.groupby(['id', 'innings'])['player_dismissed'].cumsum()

# **Dot balls in previous 30 balls**

In [54]:
df['prev_30_dot_balls']=df['total_runs']
df['prev_30_dot_balls']=np.where(df['prev_30_dot_balls']==0, 1, 0)

tmp=df.groupby(['id','innings'])['prev_30_dot_balls'].rolling(min_periods=1, window=30).sum().reset_index()
df['prev_30_dot_balls']=tmp['prev_30_dot_balls'].to_list()

# **Boundaries in previous 30 balls**

In [55]:
df['prev_30_boundaries']=df['total_runs']
df['prev_30_boundaries']=np.where(df['prev_30_boundaries']>3, 1, 0)

tmp=df.groupby(['id','innings'])['prev_30_boundaries'].rolling(min_periods=1, window=30).sum().reset_index()
df['prev_30_boundaries']=tmp['prev_30_boundaries'].to_list()

In [56]:
df.head(5)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries
101048,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0,0.0,0,1.0,0.0
101049,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0,0.0,0,1.0,0.0
101050,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0,0.0,0,2.0,0.0
101051,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0,0.0,0,3.0,0.0
101052,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0,0.0,0,4.0,0.0

In [57]:
df.tail(5)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries
101043,1237124,2,England,South Africa,17.1,17,1,1,0,192,180,52.0,0.0,1,8.0,8.0
101044,1237124,2,England,South Africa,17.2,17,2,6,0,192,186,58.0,0.0,1,7.0,9.0
101045,1237124,2,England,South Africa,17.3,17,3,1,0,192,187,58.0,0.0,1,7.0,9.0
101046,1237124,2,England,South Africa,17.4,17,4,4,0,192,191,61.0,0.0,1,7.0,10.0
101047,1237124,2,England,South Africa,17.5,17,5,1,0,192,192,62.0,0.0,1,6.0,10.0

In [58]:
convert_dict = {'prev_30_runs': int,
                'prev_30_wickets': int,
                'prev_30_dot_balls':int,
                'prev_30_boundaries':int
               }

df = df.astype(convert_dict)

## Dot balls till now

In [59]:
df['total_dot_balls']=df['total_runs']
df['total_dot_balls']=np.where(df['total_dot_balls']==0, 1, 0)

df['total_dot_balls']=df.groupby(['id','innings'])['total_dot_balls'].cumsum()

## Boundaries till now

In [62]:
df['total_boundaries']=df['total_runs']
df['total_boundaries']=np.where(df['total_boundaries']>3, 1, 0)

df['total_boundaries']=df.groupby(['id','innings'])['total_boundaries'].cumsum()

## Save Result

In [65]:
df

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_dot_balls,total_boundaries
101048,211028,1,England,Australia,0.1,0,1,0,0,179,0,0,0,0,1,0,1,0
101049,211028,1,England,Australia,0.2,0,2,1,0,179,1,1,0,0,1,0,1,0
101050,211028,1,England,Australia,0.3,0,3,0,0,179,1,1,0,0,2,0,2,0
101051,211028,1,England,Australia,0.4,0,4,0,0,179,1,1,0,0,3,0,3,0
101052,211028,1,England,Australia,0.5,0,5,0,0,179,1,1,0,0,4,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101043,1237124,2,England,South Africa,17.1,17,1,1,0,192,180,52,0,1,8,8,30,25
101044,1237124,2,England,South Africa,17.2,17,2,6,0,192,186,58,0,1,7,9,30,26
101045,1237124,2,England,South Africa,17.3,17,3,1,0,192,187,58,0,1,7,9,30,26
101046,1237124,2,England,South Africa,17.4,17,4,4,0,192,191,61,0,1,7,10,30,27
101047,1237124,2,England,South Africa,17.5,17,5,1,0,192,192,62,0,1,6,10,30,27

In [66]:
df.to_csv('Data_with_features.csv',index=None)