## Problem Statement
Using the latest data, perform analysis for batsmen against CSK at Chepauk in the middle overs. Use MCDM and Saaty scale to come up with batsmen score

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [121]:
df = pd.read_csv('all_matches.csv')

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   match_id                260920 non-null  int64
 1   season                  260920 non-null  object
 2   start_date              260920 non-null  object
 3   venue                   260920 non-null  object
 4   innings                 260920 non-null  int64
 5   ball                    260920 non-null  float64
 6   batting_team            260920 non-null  object
 7   bowling_team            260920 non-null  object
 8   striker                 260920 non-null  object
 9   non_striker             260920 non-null  object
 10  bowler                  260920 non-null  object
 11  runs_off_bat            260920 non-null  int64
 12  extras                  260920 non-null  int64
 13  wides                   8381 non-null    float64
 14  noballs                 1093 non-null    float64
 15  byes                    673 non-null     float64
 16  legbyes                 4001 non-null    float64
 17  penalty                 2 non-null       float64
 18  wicket_type             12950 non-null   object
 19  player_dismissed        12950 non-null   object
 20  other_wicket_type       0 non-null       float64
 21  other_player_dismissed  0 non-null       float64
dtypes: float64(8), int64(4), object(10)
memory usage: 43.8+ MB

In [123]:
df['wicket_type'].value_counts()

wicket_type
caught                   8063
bowled                   2212
run out                  1114
lbw                       800
caught and bowled         367
stumped                   358
retired hurt               15
hit wicket                 15
obstructing the field       3
retired out                 3
Name: count, dtype: int64

# #Fields required

Batsman, runs, fours, sixes, innings, dismissal, RPI, Strike Rate, BPD, dot percentage.

RPI - Runs per innings
BPD - Balls per dismissal

We have to generate this from a table that has data of all the balls bowled in IPL

In [125]:
df

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,9.5,Kolkata Knight Riders,Sunrisers Hyderabad,SS Iyer,VR Iyer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260916,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,9.6,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260917,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,10.1,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260918,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,10.2,Kolkata Knight Riders,Sunrisers Hyderabad,SS Iyer,VR Iyer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260919,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,10.3,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
dfCopy = df.copy()
dfCopy['one'] = dfCopy['runs_off_bat'].apply(lambda x: 1 if x == 1 else 0)
dfCopy['two'] = dfCopy['runs_off_bat'].apply(lambda x: 1 if x == 2 else 0)
dfCopy['three'] = dfCopy['runs_off_bat'].apply(lambda x: 1 if x == 3 else 0)
dfCopy['four'] = dfCopy['runs_off_bat'].apply(lambda x: 1 if x == 4 else 0)
dfCopy['six'] = dfCopy['runs_off_bat'].apply(lambda x: 1 if x == 6 else 0)
dfCopy['dot'] = dfCopy['runs_off_bat'].apply(lambda x: 1 if x == 0 else 0)

In [127]:
dfCopy[['over done', 'ball no']] = df['ball'].astype('string').str.split('.', n=1, expand=True)

In [128]:
def getphase(over_done):
    if over_done <= 5:
        return 'powerplay'
    elif over_done <=14:
        return 'middle'
    else:
        return 'end'

In [129]:
dfCopy['phase'] = dfCopy['over done'].astype('int').apply(getphase)

In [130]:
dfCopy

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,other_player_dismissed,one,two,three,four,six,dot,over done,ball no,phase
0,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,NaN,0,0,0,0,0,1,0,1,powerplay
1,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,NaN,0,0,0,0,0,1,0,2,powerplay
2,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,NaN,0,0,0,0,0,1,0,3,powerplay
3,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,NaN,0,0,0,0,0,1,0,4,powerplay
4,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,NaN,0,0,0,0,0,1,0,5,powerplay
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,9.5,Kolkata Knight Riders,Sunrisers Hyderabad,SS Iyer,VR Iyer,...,NaN,1,0,0,0,0,0,9,5,middle
260916,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,9.6,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,...,NaN,1,0,0,0,0,0,9,6,middle
260917,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,10.1,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,...,NaN,1,0,0,0,0,0,10,1,middle
260918,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,10.2,Kolkata Knight Riders,Sunrisers Hyderabad,SS Iyer,VR Iyer,...,NaN,1,0,0,0,0,0,10,2,middle
260919,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,10.3,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,...,NaN,1,0,0,0,0,0,10,3,middle

In [131]:
venue_names = ['MA Chidambaram Stadium','MA Chidambaram Stadium, Chepauk', 'MA Chidambaram Stadium, Chepauk, Chennai']

dfCopy = dfCopy[dfCopy['venue'].apply(lambda x:x in venue_names)]
dfCopy = dfCopy[dfCopy['bowling_team'] == 'Chennai Super Kings']
dfCopy = dfCopy[dfCopy['phase'] == 'middle']

In [132]:
dfCopy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3958 entries, 1789 to 258395
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   match_id                3958 non-null   int64
 1   season                  3958 non-null   object
 2   start_date              3958 non-null   object
 3   venue                   3958 non-null   object
 4   innings                 3958 non-null   int64
 5   ball                    3958 non-null   float64
 6   batting_team            3958 non-null   object
 7   bowling_team            3958 non-null   object
 8   striker                 3958 non-null   object
 9   non_striker             3958 non-null   object
 10  bowler                  3958 non-null   object
 11  runs_off_bat            3958 non-null   int64
 12  extras                  3958 non-null   int64
 13  wides                   112 non-null    float64
 14  noballs                 12 non-null     float64
 15  byes                    7 non-null      float64
 16  legbyes                 51 non-null     float64
 17  penalty                 0 non-null      float64
 18  wicket_type             170 non-null    object
 19  player_dismissed        170 non-null    object
 20  other_wicket_type       0 non-null      float64
 21  other_player_dismissed  0 non-null      float64
 22  one                     3958 non-null   int64
 23  two                     3958 non-null   int64
 24  three                   3958 non-null   int64
 25  four                    3958 non-null   int64
 26  six                     3958 non-null   int64
 27  dot                     3958 non-null   int64
 28  over done               3958 non-null   string
 29  ball no                 3958 non-null   string
 30  phase                   3958 non-null   object
dtypes: float64(8), int64(10), object(11), string(2)
memory usage: 989.5+ KB

In [133]:
df_runs = dfCopy.groupby('striker')['runs_off_bat'].sum().reset_index()
df_runs.rename(columns={'runs_off_bat':'runs'}, inplace=True)
df_runs.rename(columns={'striker':'batsman'}, inplace=True)
df_runs

           batsman  runs
0         A Badoni     5
1         A Mishra    16
2         A Mithun    11
3    A Raghuvanshi     0
4        A Symonds    27
..             ...   ...
170    YBK Jaiswal     0
171      YK Pathan    29
172      YS Chahal     4
173   Yuvraj Singh    66
174         Z Khan     3

[175 rows x 2 columns]

In [134]:
type(df_runs)

pandas.core.frame.DataFrame

In [135]:
fours = dfCopy.groupby('striker')['four'].sum().reset_index()
fours.rename(columns={'four':'fours'}, inplace=True)
fours.rename(columns={'striker':'batsman'}, inplace=True)
fours

           batsman  fours
0         A Badoni      0
1         A Mishra      2
2         A Mithun      2
3    A Raghuvanshi      0
4        A Symonds      2
..             ...    ...
170    YBK Jaiswal      0
171      YK Pathan      1
172      YS Chahal      0
173   Yuvraj Singh      5
174         Z Khan      0

[175 rows x 2 columns]

In [136]:
total = pd.merge(df_runs, fours, on='batsman', how='left')
total

           batsman  runs  fours
0         A Badoni     5      0
1         A Mishra    16      2
2         A Mithun    11      2
3    A Raghuvanshi     0      0
4        A Symonds    27      2
..             ...   ...    ...
170    YBK Jaiswal     0      0
171      YK Pathan    29      1
172      YS Chahal     4      0
173   Yuvraj Singh    66      5
174         Z Khan     3      0

[175 rows x 3 columns]

In [137]:
sixes = dfCopy.groupby('striker')['six'].sum().reset_index()
sixes.rename(columns={'six':'sixes'}, inplace=True)
sixes.rename(columns={'striker':'batsman'}, inplace=True)
sixes

           batsman  sixes
0         A Badoni      0
1         A Mishra      0
2         A Mithun      0
3    A Raghuvanshi      0
4        A Symonds      1
..             ...    ...
170    YBK Jaiswal      0
171      YK Pathan      1
172      YS Chahal      0
173   Yuvraj Singh      2
174         Z Khan      0

[175 rows x 2 columns]

In [138]:
total = pd.merge(total, sixes, on='batsman', how='left')
total

           batsman  runs  fours  sixes
0         A Badoni     5      0      0
1         A Mishra    16      2      0
2         A Mithun    11      2      0
3    A Raghuvanshi     0      0      0
4        A Symonds    27      2      1
..             ...   ...    ...    ...
170    YBK Jaiswal     0      0      0
171      YK Pathan    29      1      1
172      YS Chahal     4      0      0
173   Yuvraj Singh    66      5      2
174         Z Khan     3      0      0

[175 rows x 4 columns]

In [139]:
total.sort_values(by=['runs'], ascending=False)

        batsman  runs  fours  sixes
161     V Kohli   192     11      6
66    JH Kallis   124     10      1
152   SR Watson   121      9      7
143    SE Marsh   104      8      7
39    DA Warner   104      2      4
..          ...   ...    ...    ...
148  SO Hetmyer     0      0      0
34    CH Morris     0      0      0
160    UT Yadav     0      0      0
54    GJ Bailey     0      0      0
45   DL Vettori     0      0      0

[175 rows x 4 columns]

In [140]:
innings = dfCopy.groupby('striker')['match_id'].nunique().reset_index()

In [141]:
innings.rename(columns={'match_id':'innings'}, inplace=True)
innings.rename(columns={'striker':'batsman'}, inplace=True)
innings

           batsman  innings
0         A Badoni        1
1         A Mishra        2
2         A Mithun        1
3    A Raghuvanshi        1
4        A Symonds        1
..             ...      ...
170    YBK Jaiswal        1
171      YK Pathan        4
172      YS Chahal        1
173   Yuvraj Singh        4
174         Z Khan        1

[175 rows x 2 columns]

In [142]:
total = pd.merge(total, innings, on='batsman', how='left')

In [143]:
dfCopy['wicket_type']

1789         NaN
1790         NaN
1791         NaN
1792         NaN
1793         NaN
           ...
258391    caught
258392       NaN
258393       NaN
258394       NaN
258395       NaN
Name: wicket_type, Length: 3958, dtype: object

In [144]:
total['RPI'] = total['runs']/total['innings']

In [145]:
total.sort_values(by=['runs'], ascending = False)

        batsman  runs  fours  sixes  innings        RPI
161     V Kohli   192     11      6        8  24.000000
66    JH Kallis   124     10      1        5  24.800000
152   SR Watson   121      9      7        4  30.250000
143    SE Marsh   104      8      7        3  34.666667
39    DA Warner   104      2      4        4  26.000000
..          ...   ...    ...    ...      ...        ...
148  SO Hetmyer     0      0      0        1   0.000000
34    CH Morris     0      0      0        1   0.000000
160    UT Yadav     0      0      0        1   0.000000
54    GJ Bailey     0      0      0        1   0.000000
45   DL Vettori     0      0      0        1   0.000000

[175 rows x 6 columns]

In [146]:
balls = dfCopy.groupby('striker', as_index=False)['match_id'].count()
balls.rename(columns={'match_id':'balls'}, inplace=True)
balls.rename(columns={'striker':'batsman'}, inplace=True)
balls

           batsman  balls
0         A Badoni      5
1         A Mishra     22
2         A Mithun      8
3    A Raghuvanshi      1
4        A Symonds     27
..             ...    ...
170    YBK Jaiswal      3
171      YK Pathan     35
172      YS Chahal     12
173   Yuvraj Singh     58
174         Z Khan      5

[175 rows x 2 columns]

In [147]:
balls

           batsman  balls
0         A Badoni      5
1         A Mishra     22
2         A Mithun      8
3    A Raghuvanshi      1
4        A Symonds     27
..             ...    ...
170    YBK Jaiswal      3
171      YK Pathan     35
172      YS Chahal     12
173   Yuvraj Singh     58
174         Z Khan      5

[175 rows x 2 columns]

In [148]:
total = pd.merge(total, balls, on='batsman', how='left')

In [149]:
total

           batsman  runs  fours  sixes  innings    RPI  balls
0         A Badoni     5      0      0        1   5.00      5
1         A Mishra    16      2      0        2   8.00     22
2         A Mithun    11      2      0        1  11.00      8
3    A Raghuvanshi     0      0      0        1   0.00      1
4        A Symonds    27      2      1        1  27.00     27
..             ...   ...    ...    ...      ...    ...    ...
170    YBK Jaiswal     0      0      0        1   0.00      3
171      YK Pathan    29      1      1        4   7.25     35
172      YS Chahal     4      0      0        1   4.00     12
173   Yuvraj Singh    66      5      2        4  16.50     58
174         Z Khan     3      0      0        1   3.00      5

[175 rows x 7 columns]

In [150]:
def ballsPerBoundary(balls, boundary):
    if boundary == 0:
        return balls
    else:
        return balls/boundary

In [151]:
total['SR'] = total['runs']*100/total['balls']
total['BPB'] = total.apply(lambda x: ballsPerBoundary(x['balls'], x['fours']+x['sixes']), axis=1)

In [152]:
dot = dfCopy.groupby('striker')['dot'].sum().reset_index()
dot.rename(columns={'dot':'dot_balls'}, inplace=True)
dot.rename(columns={'striker':'batsman'}, inplace=True)
dot

           batsman  dot_balls
0         A Badoni          1
1         A Mishra         13
2         A Mithun          3
3    A Raghuvanshi          1
4        A Symonds         12
..             ...        ...
170    YBK Jaiswal          3
171      YK Pathan         16
172      YS Chahal         10
173   Yuvraj Singh         22
174         Z Khan          2

[175 rows x 2 columns]

In [153]:
 total = pd.merge(total, dot, on='batsman', how='left')

In [154]:
total

,batsman,runs,fours,sixes,innings,RPI,balls,SR,BPB,dot_balls
0,A Badoni,5,0,0,1,5.00,5,100.000000,5.000000,1
1,A Mishra,16,2,0,2,8.00,22,72.727273,11.000000,13
2,A Mithun,11,2,0,1,11.00,8,137.500000,4.000000,3
3,A Raghuvanshi,0,0,0,1,0.00,1,0.000000,1.000000,1
4,A Symonds,27,2,1,1,27.00,27,100.000000,9.000000,12
...,...,...,...,...,...,...,...,...,...,...
170,YBK Jaiswal,0,0,0,1,0.00,3,0.000000,3.000000,3
171,YK Pathan,29,1,1,4,7.25,35,82.857143,17.500000,16
172,YS Chahal,4,0,0,1,4.00,12,33.333333,12.000000,10
173,Yuvraj Singh,66,5,2,4,16.50,58,113.793103,8.285714,22
174,Z Khan,3,0,0,1,3.00,5,60.000000,5.000000,2

In [155]:
total['DP'] = total['dot_balls']*100/total['balls']

In [156]:
total

,batsman,runs,fours,sixes,innings,RPI,balls,SR,BPB,dot_balls,DP
0,A Badoni,5,0,0,1,5.00,5,100.000000,5.000000,1,20.000000
1,A Mishra,16,2,0,2,8.00,22,72.727273,11.000000,13,59.090909
2,A Mithun,11,2,0,1,11.00,8,137.500000,4.000000,3,37.500000
3,A Raghuvanshi,0,0,0,1,0.00,1,0.000000,1.000000,1,100.000000
4,A Symonds,27,2,1,1,27.00,27,100.000000,9.000000,12,44.444444
...,...,...,...,...,...,...,...,...,...,...,...
170,YBK Jaiswal,0,0,0,1,0.00,3,0.000000,3.000000,3,100.000000
171,YK Pathan,29,1,1,4,7.25,35,82.857143,17.500000,16,45.714286
172,YS Chahal,4,0,0,1,4.00,12,33.333333,12.000000,10,83.333333
173,Yuvraj Singh,66,5,2,4,16.50,58,113.793103,8.285714,22,37.931034
174,Z Khan,3,0,0,1,3.00,5,60.000000,5.000000,2,40.000000

In [157]:
players_dismissed = dfCopy['player_dismissed'].value_counts().reset_index()
players_dismissed.rename(columns={'player_dismissed':'batsman', 'count': 'dismissed'}, inplace=True)
players_dismissed

        batsman  dismissed
0       V Kohli          5
1    RV Uthappa          4
2    KD Karthik          4
3     DA Miller          3
4     KH Pandya          3
..          ...        ...
111   DH Yagnik          1
112   AM Rahane          1
113    AJ Finch          1
114  SM Pollock          1
115  JC Buttler          1

[116 rows x 2 columns]

In [158]:
total = pd.merge(total, players_dismissed, on='batsman', how='left')

In [159]:
total.dismissed.fillna(0, inplace=True)

In [160]:
def ballsPerDismissal(balls, dismissal):
    if dismissal == 0:
        return balls
    else:
        return balls/dismissal

In [161]:
total['BPD'] = total.apply(lambda x: ballsPerDismissal(x['balls'], x['dismissed']), axis=1)
total

,batsman,runs,fours,sixes,innings,RPI,balls,SR,BPB,dot_balls,DP,dismissed,BPD
0,A Badoni,5,0,0,1,5.00,5,100.000000,5.000000,1,20.000000,0.0,5.0
1,A Mishra,16,2,0,2,8.00,22,72.727273,11.000000,13,59.090909,1.0,22.0
2,A Mithun,11,2,0,1,11.00,8,137.500000,4.000000,3,37.500000,1.0,8.0
3,A Raghuvanshi,0,0,0,1,0.00,1,0.000000,1.000000,1,100.000000,1.0,1.0
4,A Symonds,27,2,1,1,27.00,27,100.000000,9.000000,12,44.444444,0.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,YBK Jaiswal,0,0,0,1,0.00,3,0.000000,3.000000,3,100.000000,1.0,3.0
171,YK Pathan,29,1,1,4,7.25,35,82.857143,17.500000,16,45.714286,2.0,17.5
172,YS Chahal,4,0,0,1,4.00,12,33.333333,12.000000,10,83.333333,1.0,12.0
173,Yuvraj Singh,66,5,2,4,16.50,58,113.793103,8.285714,22,37.931034,2.0,29.0
174,Z Khan,3,0,0,1,3.00,5,60.000000,5.000000,2,40.000000,0.0,5.0

In [162]:
total.sort_values(by=['runs'], ascending=False)

,batsman,runs,fours,sixes,innings,RPI,balls,SR,BPB,dot_balls,DP,dismissed,BPD
161,V Kohli,192,11,6,8,24.000000,164,117.073171,9.647059,54,32.926829,5.0,32.8
66,JH Kallis,124,10,1,5,24.800000,124,100.000000,11.272727,39,31.451613,2.0,62.0
152,SR Watson,121,9,7,4,30.250000,70,172.857143,4.375000,16,22.857143,2.0,35.0
143,SE Marsh,104,8,7,3,34.666667,54,192.592593,3.600000,10,18.518519,2.0,27.0
39,DA Warner,104,2,4,4,26.000000,96,108.333333,16.000000,32,33.333333,3.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,SO Hetmyer,0,0,0,1,0.000000,2,0.000000,2.000000,2,100.000000,1.0,2.0
34,CH Morris,0,0,0,1,0.000000,1,0.000000,1.000000,1,100.000000,1.0,1.0
160,UT Yadav,0,0,0,1,0.000000,3,0.000000,3.000000,3,100.000000,0.0,3.0
54,GJ Bailey,0,0,0,1,0.000000,1,0.000000,1.000000,1,100.000000,1.0,1.0
45,DL Vettori,0,0,0,1,0.000000,1,0.000000,1.000000,1,100.000000,1.0,1.0

![Screenshot 2024-11-04 155009.png]()

![Screenshot 2024-11-04 155414.png]()

RPI is moderately important over SR, Balls Per Dismissal, is equally important as SR. Dot percentage is more important than strike rate. This is all on the basis of the fact that during middle overs it is important to score runs without losing wicket and it is important to keep rotating strike.

In [163]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
total['SRC'] = total['SR'].values
total['RPIC'] = total['RPI'].values
total['BPDC'] = total['BPD'].values
total['DPC'] = total['DP'].values
columns = ['SRC','RPIC', 'BPDC','DPC']

totalnp = scaler.fit_transform(total[columns])
total[columns] = pd.DataFrame(totalnp, columns=columns)

In [164]:
pip install topsispy
# Using a library to do the topsis method

Requirement already satisfied: topsispy in /usr/local/lib/python3.10/dist-packages (0.0.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from topsispy) (1.26.4)

In [165]:
import topsispy as tp
evaluation_matrix = total[columns].values
evaluation_matrix

array([[0.33333333, 0.08333333, 0.05555556, 0.2       ],
       [0.24242424, 0.13333333, 0.29166667, 0.59090909],
       [0.45833333, 0.18333333, 0.09722222, 0.375     ],
       [0.        , 0.        , 0.        , 1.        ],
       [0.33333333, 0.45      , 0.36111111, 0.44444444],
       [1.        , 0.1       , 0.01388889, 0.        ],
       [0.45098039, 0.30666667, 0.45833333, 0.30882353],
       [0.47222222, 0.28333333, 0.15277778, 0.33333333],
       [0.38888889, 0.35      , 0.48611111, 0.33333333],
       [0.36601307, 0.31111111, 0.69444444, 0.45098039],
       [0.47619048, 0.5       , 0.27777778, 0.33333333],
       [0.32051282, 0.20833333, 0.16666667, 0.30769231],
       [0.24444444, 0.18333333, 0.40277778, 0.46666667],
       [0.61904762, 0.21666667, 0.08333333, 0.14285714],
       [0.11111111, 0.01666667, 0.02777778, 0.66666667],
       [0.31666667, 0.10555556, 0.125     , 0.45      ],
       [0.23423423, 0.10833333, 0.24305556, 0.32432432],
       [0.28571429, 0.2       , 0.18055556, 0.35714286],
       [0.37037037, 0.16666667, 0.11111111, 0.22222222],
       [0.54545455, 0.3       , 0.13888889, 0.        ],
       [0.19047619, 0.06666667, 0.08333333, 0.42857143],
       [0.22222222, 0.13333333, 0.15277778, 0.41666667],
       [0.46153846, 0.3       , 0.16666667, 0.38461538],
       [0.25925926, 0.11666667, 0.11111111, 0.33333333],
       [0.37777778, 0.28333333, 0.19444444, 0.26666667],
       [0.39285714, 0.55      , 0.375     , 0.28571429],
       [0.5       , 0.4       , 0.20833333, 0.125     ],
       [0.25757576, 0.28333333, 0.29166667, 0.40909091],
       [0.25      , 0.35      , 0.375     , 0.5       ],
       [0.22222222, 0.06666667, 0.06944444, 0.5       ],
       [0.31578947, 0.3       , 0.25      , 0.31578947],
       [0.22222222, 0.06666667, 0.06944444, 0.83333333],
       [0.0952381 , 0.01666667, 0.03472222, 0.71428571],
       [0.63218391, 0.91666667, 0.38888889, 0.24137931],
       [0.        , 0.        , 0.        , 1.        ],
       [0.35087719, 0.33333333, 0.51388889, 0.36842105],
       [0.26388889, 0.15833333, 0.15277778, 0.41666667],
       [0.16666667, 0.03333333, 0.04166667, 0.5       ],
       [0.375     , 0.21      , 0.24537037, 0.32142857],
       [0.36111111, 0.43333333, 0.43055556, 0.33333333],
       [0.29166667, 0.11666667, 0.09722222, 0.5       ],
       [0.43333333, 0.21666667, 0.125     , 0.35      ],
       [0.31372549, 0.13333333, 0.10416667, 0.35294118],
       [0.43137255, 0.18333333, 0.10416667, 0.41176471],
       [0.54166667, 0.21666667, 0.09722222, 0.5       ],
       [0.        , 0.        , 0.        , 1.        ],
       [0.34285714, 0.2       , 0.14814815, 0.37142857],
       [0.2       , 0.05      , 0.05555556, 0.6       ],
       [0.33333333, 0.18333333, 0.13888889, 0.45454545],
       [0.22222222, 0.03333333, 0.02777778, 0.33333333],
       [0.37037037, 0.33333333, 0.23611111, 0.33333333],
       [0.42857143, 0.15      , 0.08333333, 0.14285714],
       [0.39269406, 0.47777778, 1.        , 0.28767123],
       [0.60606061, 1.        , 0.44444444, 0.24242424],
       [0.        , 0.        , 0.        , 1.        ],
       [0.31111111, 0.23333333, 0.40277778, 0.3       ],
       [0.39784946, 0.61666667, 0.41666667, 0.4516129 ],
       [0.11111111, 0.01666667, 0.06944444, 0.66666667],
       [0.1025641 , 0.03333333, 0.16666667, 0.69230769],
       [0.24444444, 0.1375    , 0.61111111, 0.53333333],
       [0.23188406, 0.26666667, 0.30555556, 0.39130435],
       [0.2962963 , 0.06666667, 0.04861111, 0.55555556],
       [0.15384615, 0.1       , 0.16666667, 0.53846154],
       [0.31182796, 0.48333333, 0.41666667, 0.41935484],
       [0.35416667, 0.28333333, 0.43055556, 0.28125   ],
       [0.27272727, 0.3       , 0.29166667, 0.36363636],
       [0.33333333, 0.41333333, 0.84722222, 0.31451613],
       [0.66666667, 0.43333333, 0.16666667, 0.38461538],
       [0.33333333, 0.03333333, 0.01388889, 0.        ],
       [0.16666667, 0.01666667, 0.01388889, 0.5       ],
       [0.16666667, 0.01666667, 0.01388889, 0.5       ],
       [0.33333333, 0.17222222, 0.20138889, 0.51612903],
       [0.34848485, 0.12777778, 0.13888889, 0.5       ],
       [0.32850242, 0.18888889, 0.22569444, 0.43478261],
       [0.25641026, 0.05555556, 0.0462963 , 0.61538462],
       [0.27777778, 0.16666667, 0.15277778, 0.41666667],
       [0.27160494, 0.18333333, 0.36111111, 0.33333333],
       [0.34920635, 0.18333333, 0.13194444, 0.28571429],
       [0.33333333, 0.01666667, 0.        , 0.        ],
       [0.81818182, 0.45      , 0.13888889, 0.09090909],
       [0.22222222, 0.03333333, 0.02777778, 0.33333333],
       [0.22222222, 0.13333333, 0.15277778, 0.58333333],
       [0.33333333, 0.13333333, 0.20833333, 0.3125    ],
       [0.40350877, 0.12777778, 0.25      , 0.47368421],
       [0.38596491, 0.36666667, 0.25      , 0.31578947],
       [0.33333333, 0.06666667, 0.04166667, 0.25      ],
       [0.25      , 0.15      , 0.15277778, 0.33333333],
       [0.26388889, 0.31666667, 0.65277778, 0.41666667],
       [0.24242424, 0.13333333, 0.13888889, 0.54545455],
       [0.39393939, 0.10833333, 0.0625    , 0.27272727],
       [0.33333333, 0.05      , 0.02777778, 0.33333333],
       [0.37777778, 0.28333333, 0.19444444, 0.46666667],
       [0.16666667, 0.01666667, 0.01388889, 0.5       ],
       [0.33333333, 0.06666667, 0.04166667, 0.75      ],
       [0.37908497, 0.24166667, 0.22222222, 0.37254902],
       [0.33333333, 0.23888889, 0.58333333, 0.30232558],
       [0.36111111, 0.43333333, 0.31944444, 0.5       ],
       [0.51923077, 0.675     , 0.70833333, 0.19230769],
       [0.44949495, 0.49444444, 0.44444444, 0.3030303 ],
       [0.37777778, 0.28333333, 0.19444444, 0.46666667],
       [0.33333333, 0.41666667, 0.33333333, 0.2       ],
       [0.22222222, 0.06666667, 0.06944444, 0.5       ],
       [0.22222222, 0.26666667, 0.31944444, 0.45833333],
       [0.63888889, 0.38333333, 0.31944444, 0.20833333],
       [0.45045045, 0.41666667, 0.5       , 0.2972973 ],
       [0.35483871, 0.55      , 0.41666667, 0.35483871],
       [0.22222222, 0.03333333, 0.02777778, 0.33333333],
       [0.4       , 0.1       , 0.05555556, 0.4       ],
       [0.5203252 , 0.35555556, 0.27083333, 0.29268293],
       [0.33333333, 0.15      , 0.11111111, 0.22222222],
       [0.3908046 , 0.56666667, 0.38888889, 0.48275862],
       [0.16666667, 0.01666667, 0.01388889, 0.5       ],
       [0.625     , 0.25      , 0.09722222, 0.25      ],
       [0.33333333, 0.25833333, 0.41666667, 0.35483871],
       [0.24242424, 0.13333333, 0.13888889, 0.72727273],
       [0.4       , 0.5       , 0.33333333, 0.44      ],
       [0.35585586, 0.32916667, 0.5       , 0.36486486],
       [0.11111111, 0.01666667, 0.02777778, 0.66666667],
       [0.42028986, 0.48333333, 0.30555556, 0.26086957],
       [0.26666667, 0.06666667, 0.05555556, 0.4       ],
       [0.14285714, 0.025     , 0.08333333, 0.71428571],
       [0.44444444, 0.06666667, 0.02777778, 0.        ],
       [0.48809524, 0.34166667, 0.18055556, 0.25      ],
       [0.43333333, 0.21666667, 0.125     , 0.7       ],
       [0.29166667, 0.23333333, 0.20833333, 0.4375    ],
       [0.36612022, 0.22333333, 0.40972222, 0.40983607],
       [0.31746032, 0.22222222, 0.56944444, 0.45238095],
       [0.14814815, 0.06666667, 0.11111111, 0.55555556],
       [0.66666667, 0.06666667, 0.01388889, 0.5       ],
       [0.36585366, 0.375     , 0.27083333, 0.36585366],
       [0.33333333, 0.28333333, 0.22222222, 0.29411765],
       [0.26666667, 0.13333333, 0.125     , 0.4       ],
       [0.16666667, 0.05      , 0.06944444, 0.5       ],
       [0.31746032, 0.16666667, 0.13194444, 0.35714286],
       [0.36111111, 0.21666667, 0.15277778, 0.41666667],
       [0.5       , 0.05      , 0.01388889, 0.        ],
       [0.27083333, 0.13      , 0.20833333, 0.375     ],
       [0.13333333, 0.03333333, 0.05555556, 0.6       ],
       [0.55555556, 0.08333333, 0.02777778, 0.33333333],
       [0.37037037, 0.16666667, 0.11111111, 0.22222222],
       [0.34299517, 0.39444444, 0.46527778, 0.42028986],
       [0.25806452, 0.4       , 0.41666667, 0.51612903],
       [0.09722222, 0.05833333, 0.15277778, 0.70833333],
       [0.64197531, 0.57777778, 0.36111111, 0.18518519],
       [0.16666667, 0.03333333, 0.04166667, 0.75      ],
       [0.48611111, 0.29166667, 0.31944444, 0.20833333],
       [0.33333333, 0.26666667, 0.20833333, 0.3125    ],
       [0.37254902, 0.31666667, 0.45833333, 0.32352941],
       [0.        , 0.        , 0.01388889, 1.        ],
       [0.11111111, 0.01666667, 0.02777778, 0.66666667],
       [0.26811594, 0.15416667, 0.30555556, 0.2826087 ],
       [0.33333333, 0.125     , 0.19444444, 0.2       ],
       [0.57619048, 0.50416667, 0.47222222, 0.22857143],
       [0.25438596, 0.24166667, 0.51388889, 0.34210526],
       [0.29824561, 0.28333333, 0.38194444, 0.40350877],
       [0.66666667, 0.26666667, 0.09722222, 0.125     ],
       [0.25      , 0.13333333, 0.20833333, 0.40625   ],
       [0.20634921, 0.21666667, 0.27777778, 0.52380952],
       [0.28571429, 0.25      , 0.22916667, 0.45714286],
       [0.2       , 0.1       , 0.125     , 0.5       ],
       [0.        , 0.        , 0.02777778, 1.        ],
       [0.3902439 , 0.4       , 0.44166667, 0.32926829],
       [0.5       , 0.55      , 0.29166667, 0.36363636],
       [0.37254902, 0.10555556, 0.22222222, 0.35294118],
       [0.125     , 0.05      , 0.09722222, 0.75      ],
       [0.22222222, 0.16666667, 0.19444444, 0.4       ],
       [0.19047619, 0.13333333, 0.18055556, 0.5       ],
       [0.26666667, 0.06666667, 0.05555556, 0.8       ],
       [0.24358974, 0.31666667, 0.34722222, 0.30769231],
       [0.4379085 , 0.37222222, 0.34027778, 0.31372549],
       [0.        , 0.        , 0.02777778, 1.        ],
       [0.27619048, 0.12083333, 0.22916667, 0.45714286],
       [0.11111111, 0.06666667, 0.15277778, 0.83333333],
       [0.37931034, 0.275     , 0.38888889, 0.37931034],
       [0.2       , 0.05      , 0.05555556, 0.4       ]])

In [166]:
weights = [0.13,0.27,0.16,0.43]
sign = [1, 1, 1, -1]
res = tp.topsis(evaluation_matrix, weights, sign)

In [167]:
total['score'] = res[1]

In [168]:
total.sort_values(by='score', ascending=False)

,batsman,runs,fours,sixes,innings,RPI,balls,SR,BPB,dot_balls,DP,dismissed,BPD,SRC,RPIC,BPDC,DPC,score
53,GC Smith,60,4,4,1,60.000000,33,181.818182,4.125000,8,24.242424,1.0,33.0,0.606061,1.000000,0.444444,0.242424,0.750884
33,CH Gayle,55,1,6,1,55.000000,29,189.655172,4.142857,7,24.137931,0.0,29.0,0.632184,0.916667,0.388889,0.241379,0.727374
97,MP Stoinis,81,3,5,2,40.500000,52,155.769231,6.500000,10,19.230769,1.0,52.0,0.519231,0.675000,0.708333,0.192308,0.714488
143,SE Marsh,104,8,7,3,34.666667,54,192.592593,3.600000,10,18.518519,2.0,27.0,0.641975,0.577778,0.361111,0.185185,0.626787
52,G Gambhir,86,4,2,3,28.666667,73,117.808219,12.166667,21,28.767123,1.0,73.0,0.392694,0.477778,1.000000,0.287671,0.618754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,SO Hetmyer,0,0,0,1,0.000000,2,0.000000,2.000000,2,100.000000,1.0,2.0,0.000000,0.000000,0.013889,1.000000,0.005247
3,A Raghuvanshi,0,0,0,1,0.000000,1,0.000000,1.000000,1,100.000000,1.0,1.0,0.000000,0.000000,0.000000,1.000000,0.000000
54,GJ Bailey,0,0,0,1,0.000000,1,0.000000,1.000000,1,100.000000,1.0,1.0,0.000000,0.000000,0.000000,1.000000,0.000000
45,DL Vettori,0,0,0,1,0.000000,1,0.000000,1.000000,1,100.000000,1.0,1.0,0.000000,0.000000,0.000000,1.000000,0.000000
34,CH Morris,0,0,0,1,0.000000,1,0.000000,1.000000,1,100.000000,1.0,1.0,0.000000,0.000000,0.000000,1.000000,0.000000

In [169]:
total_new = total[total['innings']>2]

In [170]:
total_new.sort_values(by='score', ascending=False)

,batsman,runs,fours,sixes,innings,RPI,balls,SR,BPB,dot_balls,DP,dismissed,BPD,SRC,RPIC,BPDC,DPC,score
143,SE Marsh,104,8,7,3,34.666667,54,192.592593,3.600000,10,18.518519,2.0,27.000000,0.641975,0.577778,0.361111,0.185185,0.626787
52,G Gambhir,86,4,2,3,28.666667,73,117.808219,12.166667,21,28.767123,1.0,73.000000,0.392694,0.477778,1.000000,0.287671,0.618754
152,SR Watson,121,9,7,4,30.250000,70,172.857143,4.375000,16,22.857143,2.0,35.000000,0.576190,0.504167,0.472222,0.228571,0.597834
66,JH Kallis,124,10,1,5,24.800000,124,100.000000,11.272727,39,31.451613,2.0,62.000000,0.333333,0.413333,0.847222,0.314516,0.566037
98,MS Bisla,89,6,4,3,29.666667,66,134.848485,6.600000,20,30.303030,2.0,33.000000,0.449495,0.494444,0.444444,0.303030,0.558561
39,DA Warner,104,2,4,4,26.000000,96,108.333333,16.000000,32,33.333333,3.0,32.000000,0.361111,0.433333,0.430556,0.333333,0.516151
161,V Kohli,192,11,6,8,24.000000,164,117.073171,9.647059,54,32.926829,5.0,32.800000,0.390244,0.400000,0.441667,0.329268,0.507397
169,Y Venugopal Rao,67,2,5,3,22.333333,51,131.372549,7.285714,16,31.372549,2.0,25.500000,0.437908,0.372222,0.340278,0.313725,0.491146
108,NV Ojha,64,1,6,3,21.333333,41,156.097561,5.857143,12,29.268293,2.0,20.500000,0.520325,0.355556,0.270833,0.292683,0.487676
6,AB de Villiers,92,10,1,5,18.400000,68,135.294118,6.181818,21,30.882353,2.0,34.000000,0.450980,0.306667,0.458333,0.308824,0.484224
116,R Dravid,79,9,0,4,19.750000,74,106.756757,8.222222,27,36.486486,2.0,37.000000,0.355856,0.329167,0.500000,0.364865,0.473158
140,SA Yadav,71,9,0,3,23.666667,69,102.898551,7.666667,29,42.028986,2.0,34.500000,0.342995,0.394444,0.465278,0.420290,0.472617
95,MK Tiwary,43,3,0,3,14.333333,43,100.000000,14.333333,13,30.232558,1.0,43.000000,0.333333,0.238889,0.583333,0.302326,0.472457
9,AD Russell,56,5,2,3,18.666667,51,109.803922,7.285714,23,45.098039,1.0,51.000000,0.366013,0.311111,0.694444,0.450980,0.462529
173,Yuvraj Singh,66,5,2,4,16.500000,58,113.793103,8.285714,22,37.931034,2.0,29.000000,0.379310,0.275000,0.388889,0.379310,0.434698
154,SS Tiwary,51,2,1,3,17.000000,57,89.473684,19.000000,23,40.350877,2.0,28.500000,0.298246,0.283333,0.381944,0.403509,0.423389
38,DA Miller,63,5,1,5,12.600000,56,112.500000,9.333333,18,32.142857,3.0,18.666667,0.375000,0.210000,0.245370,0.321429,0.418216
150,SPD Smith,37,0,0,4,9.250000,46,80.434783,46.000000,13,28.260870,2.0,23.000000,0.268116,0.154167,0.305556,0.282609,0.418020
126,RK Singh,40,2,2,3,13.333333,42,95.238095,10.500000,19,45.238095,1.0,42.000000,0.317460,0.222222,0.569444,0.452381,0.410451
125,RG Sharma,67,4,3,5,13.400000,61,109.836066,8.714286,25,40.983607,2.0,30.500000,0.366120,0.223333,0.409722,0.409836,0.407554
94,MK Pandey,58,3,3,4,14.500000,51,113.725490,8.500000,19,37.254902,3.0,17.000000,0.379085,0.241667,0.222222,0.372549,0.406364
46,DPMD Jayawardene,36,0,2,3,12.000000,35,102.857143,17.500000,13,37.142857,3.0,11.666667,0.342857,0.200000,0.148148,0.371429,0.384908
16,AT Rayudu,26,0,0,4,6.500000,37,70.270270,37.000000,12,32.432432,2.0,18.500000,0.234234,0.108333,0.243056,0.324324,0.383368
133,RV Uthappa,40,4,0,4,10.000000,42,95.238095,10.500000,15,35.714286,4.0,10.500000,0.317460,0.166667,0.131944,0.357143,0.378635
163,V Shankar,19,0,1,3,6.333333,17,111.764706,17.000000,6,35.294118,1.0,17.000000,0.372549,0.105556,0.222222,0.352941,0.375583
136,S Dhawan,39,2,0,5,7.800000,48,81.250000,24.000000,18,37.500000,3.0,16.000000,0.270833,0.130000,0.208333,0.375000,0.367055
73,KD Karthik,68,8,0,6,11.333333,69,98.550725,8.625000,30,43.478261,4.0,17.250000,0.328502,0.188889,0.225694,0.434783,0.363055
59,IK Pathan,33,2,1,4,8.250000,45,73.333333,15.000000,24,53.333333,1.0,45.000000,0.244444,0.137500,0.611111,0.533333,0.357863
156,SV Samson,24,1,0,3,8.000000,32,75.000000,32.000000,13,40.625000,2.0,16.000000,0.250000,0.133333,0.208333,0.406250,0.354348
83,LRPL Taylor,23,0,2,3,7.666667,19,121.052632,9.500000,9,47.368421,1.0,19.000000,0.403509,0.127778,0.250000,0.473684,0.336526
171,YK Pathan,29,1,1,4,7.250000,35,82.857143,17.500000,16,45.714286,2.0,17.500000,0.276190,0.120833,0.229167,0.457143,0.333155
15,AR Patel,19,1,1,3,6.333333,20,95.000000,10.000000,9,45.000000,2.0,10.000000,0.316667,0.105556,0.125000,0.450000,0.324841
71,KA Pollard,31,3,1,3,10.333333,31,100.000000,7.750000,16,51.612903,2.0,15.500000,0.333333,0.172222,0.201389,0.516129,0.321258
72,KC Sangakkara,23,2,1,3,7.666667,22,104.545455,7.333333,11,50.000000,2.0,11.000000,0.348485,0.127778,0.138889,0.500000,0.311207
74,KH Pandya,10,0,1,3,3.333333,13,76.923077,13.000000,8,61.538462,3.0,4.333333,0.256410,0.055556,0.046296,0.615385,0.230994

In [171]:
total_new.shape

(35, 18)